{{ define "title" }}Register - Webhook Tester{{ end }}

{{ define "body" }}
<div class="w-[400px] mx-auto mt-12 bg-white p-6 rounded shadow-md border">
  <h1 class="text-2xl font-bold mb-4">Create an account</h1>

  {{ if .Error }}
  <div class="mb-4 p-3 text-sm text-red-700 bg-red-100 rounded">
    {{ .Error }}
  </div>
  {{ end }}


  <form method="POST" action="/register" class="space-y-4 text-sm">
    {{ .CSRFField }}
    <div>
      <label for="name" class="block font-medium mb-1">Full Name</label>
      <input type="text" name="name" id="name" required class="w-full border rounded px-3 py-2" value="{{ .FullName }}"
             placeholder="Your full name"/>
    </div>
    <div>
      <label for="email" class="block font-medium mb-1">Email</label>
      <input type="email" name="email" id="email" required class="w-full border rounded px-3 py-2"
             placeholder="Your email" value="{{ .Email }}"/>
    </div>
    <div x-data="{ show : false }" class="relative">
      <label for="password" class="block font-medium mb-1">Password</label>
      <input type="password" name="password" id="password" required class="w-full border rounded px-3 py-2"
             placeholder="Password" value="{{ .Password }}" :type="show ? 'text' : 'password'"
      />
      <button
        type="button"
        @click="show = !show"
        class="absolute right-2 top-[35px] text-sm text-gray-500 hover:text-gray-700"
        tabindex="-1"
      >
        <img
          :src="show ? '/static/icons/eye-off-outline.svg' : '/static/icons/eye-outline.svg'"
          alt="toggle password"
          class="w-5 h-5 text-gray-500 hover:text-gray-700"
        />
      </button>
    </div>

    <button type="submit" class="w-full bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
      Register
    </button>

    <div class="text-sm text-center text-gray-600 mt-4">
      Already have an account?
      <a href="/login" class="text-blue-600 font-medium hover:underline">
        Log in
      </a>
    </div>
  </form>
</div>
{{ end }}